#root {
  width: 100%;
  margin: 0 auto;
  /* padding: 0.5rem; */
  text-align: center;
}

:root {
  --primary-color: #1f2937; /* Couleur primaire (par exemple, noir ou gris foncé) */
  --secondary-color: #b3e7e1; /* Couleur secondaire (par exemple, une teinte claire) */
  --accent-color: #609082; /* Couleur d'accentuation */
  --background-color: #ffffff; /* Couleur de fond des sections */
  --text-color: #000000; /* Couleur du texte principal */
  --text-color-secondary: #ffffff; /* Couleur du texte secondaire */
  --footer-background: #2d3748; /* Couleur de fond du footer */
  --footer-text: #edf2f7; /* Couleur du texte du footer */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
